.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: aliceblue;
}
.header div {
    font-weight: bold;
}
.header nav a {
    margin-right: 15px;
}